In [137]:
import sqlite3
import openpyxl
from openpyxl import Workbook
 
conn = sqlite3.connect("711.db")
 
cursor = conn.cursor()
 
cursor.execute("""CREATE TABLE albums
                  (ID, Name, Adress, 
                   county, town) 
               """)

book = openpyxl.load_workbook('711.xlsx')
sheet = book.active

T = []


for row in sheet.iter_rows(min_row = 1, min_col = 1, max_row = 5248, max_col = 3):
    n = 0
    t = []
    
    for cell in row:
        n = n + 1
        c = cell.value
        t.append(c)

        if n == 3:
            if c[2] == '市':
                a = c.split('市', 1)
                county = a[0] + '市'
                b = a[1]
                
                if b[1]=='區' or b[2]=='區':
                    c = b.split('區')
                    town = c[0] + '區'
                elif b[2]=='鄉':
                    c = b.split('鄉')
                    town = c[0] + '鄉'
                elif b[2]=='鎮':
                    c = b.split('鎮')
                    town = c[0] + '鎮'
                elif b[2]=='市':
                    c = b.split('市')
                    town = c[0] + '市'
          
            elif c[2] == '縣':
                a = c.split('縣', 1)
                county = a[0] + '縣'
                b = a[1]
            
                if b[2]=='區' or b[1]=='區':
                    c = b.split('區')
                    town = c[0] + '區'
                elif b[2]=='鄉':
                    c = b.split('鄉')
                    town = c[0] + '鄉'
                elif b[2]=='鎮':
                    c = b.split('鎮')
                    town = c[0] + '鎮'
                elif b[2]=='市':
                    c = b.split('市')
                    town = c[0] + '市'
            
            t.append(county)
            t.append(town)
    T.append(tuple(t))

albums_entry = T
cursor.executemany("INSERT INTO albums VALUES (?,?,?,?,?)", albums_entry)
conn.commit()

conn.close()

OperationalError: table albums already exists

In [138]:
import sqlite3
 
conn = sqlite3.connect("711.db")
cursor = conn.cursor()


sql = "SELECT * FROM albums WHERE county=?"
cursor.execute(sql, [("雲林縣")])
U = len(cursor.fetchall())

print('雲林7-11總數：' + str(U))


sql2 = "SELECT DISTINCT county,town FROM albums"
cursor.execute(sql2)
L = cursor.fetchall()


n = 0
for i in range(len(L)):
    T = L[i]
    sql3 = "SELECT * from albums where county=? and town=?" 
    cursor.execute(sql3, [T[0],T[1]])
    
    n += 1
    S = len(cursor.fetchall())
    
    if S > U:
        print(str(T[0]) + str(T[1]) + '7-11總數：' + str(S))

雲林7-11總數：102
台北市中山區7-11總數：106
新北市板橋區7-11總數：110
桃園市中壢區7-11總數：116
桃園市桃園區7-11總數：120